[submodule "mbedtls"]
	path = ext/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
	branch = v3.2.0
[submodule "busybox"]
	path = ext/busybox
	url = https://github.com/meefik/busybox.git
	branch = 1.26.2
[submodule "cmsis_5"]
	path = ext/cmsis_5
	url = https://github.com/ARM-software/CMSIS_5.git
	branch = 5.9.1-dev